ion-card {
  background-color: #81d3d3;
  margin: 16px;
  padding: 16px;
  border-radius: 10px;
  height: auto;
}  
ion-card-title {
  text-align: center;
  font-size: 20px;
}
ion-card-content {
  font-size: medium;
  font-style:oblique;
  color: black;
}