<ion-header [translucent]="true">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/contact']">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/about']">About</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/register']">Register</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/login']">Login</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <ion-searchbar></ion-searchbar>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="../../assets/items/my_image.jpg" />
          </ion-avatar>
        </form>
      </div>
    </div>
  </nav>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>About Our Project</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Welcome to our amazing Ionic app. This is the About page,
      where you can learn more about us.
      With the revitalization of the online grocery trading market,
      many consumers are using mobile applications to purchase groceries.
      Although past studies were conducted on online grocery purchases,
      few measured mobile app users in a conceptual model that combines
      both motivational needs and behavioral components. Grounded in the
      uses and gratifications theory and the theory of planned behavior, 
      this study investigated utilitarian motives, hedonic motives, experiential motives,
      attitudes, subjective norms, perceived behavioral control, purchase intention,
      and purchase behavior among mobile grocery app users in South Korea.
      As an additional analysis, a comparison between users and non-users of mobile 
      grocery apps was implemented. The results showed that the utilitarian motives
      of grocery app users significantly influenced attitudes, attitudes and subjective
      norms influenced user intention, and user intention influenced grocery
      purchase behavior. Users showed statistically higher utilitarian motives, 
      hedonic motives, and attitudes than non-users. The results suggest that South
      Korean consumers hold positive attitudes toward mobile grocery shopping
      and that the opinions of others may influence the decision to use the services. 
      Mobile groceries in South Korea may have the potential for continued growth 
      if individuals’ perceived control of the service improves. Implications and 
      suggestions for future research are discussed.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Features</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Grocery delivery apps are trending among people and it won’t be wrong to say that
      the on-demand grocery industry will continue to grow. The benefits and ease grocery 
      shopping apps offer to customers, who don’t want to go out to local stores and do the
      shopping themselves, is what makes it a hot trend in 2020. Can you imagine, that a few
      years back only 3 percent of Americans used to order groceries online? Well, not anymore.
      Due to current circumstances and the rise of on-demand delivery startups,
      more users are willing to shop groceries online than ever. And it’s not onl
      in the USA, in many European countries, but online supermarket businesses are also
      gaining momentum bridging the gap between customers and local stores and providing 
      a convenient grocery experience. In fact, there are 30.4 Million adult grocery app users
      in the USA as of 2022 rising from 12 Million in 2017, according to statista reports.
      This is perhaps the reason why many entrepreneurs and investors are interested in these 
      startups.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Advantages</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      1.Convenience: Customers can browse and shop for groceries from the comfort of their
        homes or while on the go. They can avoid the hassle of visiting physical stores,
        standing in long lines, and carrying heavy bags.<br>
        
      2.Time-Saving: Grocery apps save customers time as they can quickly search for products,
        add them to their cart, and place orders within minutes. This is particularly useful 
        for busy individuals.<br>

      3.24/7 Accessibility: Grocery apps are accessible 24/7, allowing customers to shop at
        any time that suits them, including outside of regular store hours.<br>

      4.Wider Product Selection: Customers can access a broader range of products and brands
        through a grocery app, often with more detailed descriptions and options for
        customization.<br>

      5.Personalization: Apps can provide personalized recommendations and deals based on a
        customer's previous purchases and preferences, enhancing the shopping experience.<br>

      6.Convenient Payment: Customers can securely store payment information in the app,
        making the checkout process quick and hassle-free. Many apps also offer various
        payment options, including digital wallets.<br>

     7. Delivery and Pickup Options: Grocery apps offer the flexibility of choosing between
        home delivery and in-store pickup, catering to different customer preferences.<br>

     8. Track Orders: Customers can track the status of their orders in real-time, knowing
        exactly when to expect their groceries to arrive.
    </ion-card-content>
  </ion-card><br>


  <footer class="bg-dark text-center text-white">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1"role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <a class="btn btn-outline-light btn-floating m-1" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
       
        <a class="btn btn-outline-light btn-floating m-1" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
      
        <a class="btn btn-outline-light btn-floating m-1" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
       
        <a class="btn btn-outline-light btn-floating m-1" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
       
        <a class="btn btn-outline-light btn-floating m-1" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
    </div>
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright: Nagendra
    </div>
  </footer>
</ion-content>



